

.navbar-brand{
	color:#eff8ff;

}

.col-md-8{
	margin-top: 2em;
}

.col-md-4{
	margin-top: 2em;
}

.dividir{
	width: 5rem;
	height: 3px;
	background: rgb(0,88,131);
	background: linear-gradient(90deg, rgba(0,88,131,1) 4%, rgba(240,180,41,1) 55%, rgba(244,121,32,1) 97%);
	display: inline-block;
}

.centrar-linea{
	padding-top: .1rem;
	padding-bottom: .1rem;
	text-align: center;
}

.centrar{
	text-align: center;
	font-weight: bold;
}

/* PIE DE PAGINA, FOOTER MODIFICACIONES*/
.footer-copyright{
	overflow: hidden;
	color: rgba(255,255,255,0.6);
	background-color: rgba(0,0,0,0.2);

}
.page-footer{
	color:#fff;
}

.teal{
	
	/*background-color: rgba(244, 121, 32, 1);*/
	background-color: #005883 !important;
}
.py-3{
	color:#fff;
}

.footer-copyright-autor{
	overflow: hidden;
	color: rgba(255,255,255,0.9);
	background-color: #005883

}


/* ESTILOS LINKS */

.link{
	color:#F47920;
}

.link:hover{
	color:#F0B429;
}

.link2{
	color:#F0B429;
}

.link2:hover{
	color:#F47920;
}

/*ADAPTACION CLASE BOOTSTRAP*/

.bg-azul-unad{
	background-color: #005883 !important; 
}

/*MENU ADAPTAR*/

.dropdown-menu.type{
	background-color: #F0B429;
}